@use "../presets" as *;
@use "../mixins" as *;

.footer {
  &__wrap {
    display: flex;
    align-items: center;

    padding-top: 54px;
    padding-bottom: 80px;

    gap: 60px;
    @include xl {
      padding-bottom: 30px;

      gap: $gap;
    }
    @include lg {
      flex-direction: column;

      padding-bottom: 20px;

      gap: $gap-md;
    }
    @include sm {
      padding-top: 20px;
    }
  }

  &__img {
    max-width: 213px;

    @include xl {
      max-width: 203px;
    }
    @include lg {
      order: 1;
    }
    @include md {
      max-width: 125px;
    }
    @include xs {
      max-width: 103px;
    }
  }

  &__decs {
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #6d6d71;

    font-size: $font-size-18;
    font-weight: $font-weight-400;
    line-height: 160%;

    @include xl {
      font-size: $font-size-16;
    }
    @include lg {
      order: 0;

      text-align: center;
    }
    @include sm {
      font-size: $font-size-12;
    }
  }
}
