@use "../presets" as *;
@use "../mixins" as *;

.header {
  position: relative;

  @media (min-width: 1380.8px) {
    height: 100vh;
    min-height: 720px;
    max-height: 1200px;
  }

  &__wrap {
    position: relative;
    z-index: 5;

    @include md {
      margin-bottom: 16px;
    }

    @media (max-width: 576.8px) {
      margin-bottom: 24px;
    }
  }

  &__contant {
    position: relative;
    z-index: 3;

    display: flex;

    gap: 80px;

    @include xl {
      gap: $gap-xl;
    }

    @include lg {
      gap: $gap;
    }
  }


  &__img-box {
    position: relative;

    max-height: 100vh;

    @include xl {
      margin-left: 60px;
    }

    @include lg {
      margin-left: -90px;

      @include lg-min {
        flex: 1;
      }
    }

    @media (max-width: 576.8px) {
      display: none;
    }


    &::before {
      position: absolute;
      z-index: 5;
      right: 0;
      bottom: 0;
      left: 0;

      height: 150px;

      content: "";

      background: linear-gradient(180deg, rgba(15, 24, 21, 0) 0%, #1f2d28 100%);

      @media (max-width: 1380.8px) {
        height: 70px;
      }
    }
  }

  &__img {
    position: relative;

    display: block;

    max-width: 100%;
    max-height: 100%;

    @include lg {
      max-width: 350px;
    }

    @include md {
      max-width: 275px;
    }
  }


  &__item-wrap {
    position: relative;
    z-index: 3;
  }
}