@use "../presets" as *;
@use "../mixins" as *;

.item {
  // display: flex;

  &__wrap {
    gap: $gap;
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 90px;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xx {
      gap: $gap-sm;
      margin-bottom: 24px;
    }

  }

  &__box-first {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

  }

  &__box-second {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%; //TODO Уточнить как лучше с центровкой содержимового внутри
  }

  &__box {

    min-height: 320px;
    // flex: 1;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;
    gap: $gap-xl;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(18.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
    padding: 10px 10px 10px 10px;

    @include xl {
      min-height: 280px;
      // padding-top: 30px;
    }

    @include sm {
      min-height: 180px;
      gap: $gap;
    }

    @include xx {
      min-height: 138px;

    }
  }

  &__img {
    max-width: 80px;
    display: flex;

    @include xl {
      max-width: 70px;
    }

    @include sm {
      max-width: 40px;
    }

    @include xx {
      max-width: 35px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    max-width: 254px;


    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    @include xl {
      font-size: 24px;
      max-width: 191px;
    }

    @include sm {
      font-size: 16px;
      max-width: 127px;
    }

    @include xx {
      font-size: 14px;
      max-width: 111px;
    }

  }


}