@use "../presets" as *;
@use "../mixins" as *;

.item {

  &__wrap {
    gap: $gap;
    position: relative;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 90px;

    @include xl {
      margin-bottom: 54px;

    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      margin-bottom: 20px;
    }

    @include xx {
      gap: $gap-sm;
      margin-bottom: 24px;
    }

  }

  &__box-first {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

  }

  &__box-second {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &__box {

    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-xl;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(18.5px);

    border-radius: 25px;
    padding: 10px 10px 10px 10px;

    @include xl {
      min-height: 280px;
    }

    @include sm {
      min-height: 180px;
      gap: $gap;
    }

    @include xx {
      min-height: 138px;

    }
  }

  &__img {
    max-width: 80px;
    display: flex;

    @include xl {
      max-width: 70px;
    }

    @include sm {
      max-width: 40px;
    }

    @include xx {
      max-width: 35px;
    }
  }

  &__title {
    font-weight: $font-weight-500;
    font-size: $font-size-32;
    line-height: 120%;
    max-width: 254px;


    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $color-white;

    @include xl {
      font-size: $font-size-24;
      max-width: 191px;
    }

    @include sm {
      font-size: $font-size-16;
      max-width: 127px;
    }

    @include xx {
      font-size: $font-size-14;
      max-width: 111px;
    }

  }


}