@use "../presets" as *;
@use "../mixins" as *;

.item {
  display: flex;
  gap: $gap;


  &__box {
    &:nth-child(4) {
      //TODO посмотреть как добраться
    }

    min-height: 320px;
    // flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gap-xl;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(18.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
    padding: 10px;

    @include xl {
      min-height: 280px;
    }
  }

  &__img {
    max-width: 80px; //TODO подправить тень на иконках, выкачать правильно
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    max-width: 253px;


    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;

    @include xl {
      font-size: 24px;


    }

  }


}