@use "../presets" as *;
@use "../mixins" as *;

.slider {
  position: relative;

  @include md {
    &::before {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;

      width: 80px;

      content: "";

      background: linear-gradient(270deg, #1f2d28 0%, rgba(31, 45, 40, 0) 100%);
    }
  }


  &__wrap {
    margin-bottom: 38px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0; //рекомендация
    min-height: 177px;
    padding: 10px 10px;

    border-radius: 4px;
    background: #36403c;

    @include md {
      min-height: 107px;
    }
    @include xs {
      min-height: 78px;
    }

    @media (max-width: 1600px) {
      min-height: 119px;
    }
  }

  &__img {
    max-width: 80%;

    @include md {
      max-width: 80%;
    }

    @media (max-width: 1100px) {
      max-width: 90%;
    }

    @media (max-width: 810px) {
      max-width: 100%;
    }

    @media (max-width: 520px) {
      max-width: 90%;
      height: 50px;
    }
  }



  .swiper-wrapper {
    padding-bottom: 25px;

    @include sm {
      padding-bottom: 15px;
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;

    background: #36403c;

    @include sm {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background: #fbbf2f;
  }
}
