$font-family-Inter: "Inter", sans-serif;
$font-family-Begika: "Begika", sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-33: 33px;
$font-size-34: 34px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-44: 44px;
$font-size-50: 50px;
$font-size-71: 71px;
$font-size-90: 90px;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$ul: 1921px;
$xl: 1500px;
$lg: 1100px;
$md: 850px;
$sm: 621px;
$xs: 480px;
$xx: 420px;
$ux: 321px;
$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;
