@use "../presets" as *;
@use "../mixins" as *;

.actions {

  max-width: 790px;

  @include xl-min {
    // gap: $gap;
    grid-template-rows: 0.6fr 0.3fr 0.5fr 1fr;


  }

  @include lg-min {
    // gap: $gap;
    align-items: flex-start;
    justify-items: center;
    display: grid;
    gap: $gap;
    grid-template-rows: 0.6fr 0.3fr 0.65fr 1fr;

  }

  @include lg {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  &__logo {
    // margin-bottom: 94px;
    padding-top: 60px;

    max-width: 127px;

    @include lg {
      margin-bottom: 30px;
      max-width: 84px;
      padding-top: 40px;

    }

    @include md {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #EBBC44;
    text-shadow: 0px 0px 0px #FCC931;
    // margin-bottom: 40px;

    @media (max-width: 1600.8px) {
      font-size: 32px;
      line-height: 39px;
    }

    @media (max-width: 1250.8px) {
      font-size: 26px;


    }

    @include lg {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    @include xs {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;

    }
  }

  &__desc {
    font-family: 'Begika';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    // margin-bottom: 62px;

    @include xl {}

    @media (max-width: 1600.8px) {
      font-size: 71px;
    }

    @media (max-width: 1250.8px) {
      font-size: 50px;

    }

    @include lg {
      margin-bottom: 20px;
      max-width: 440px;

    }

    @include md {
      font-size: 38px;

    }

    @include xs {
      font-size: 33px;
      margin-bottom: 10px;
      max-width: 390px;


    }
  }

  &__link-box {
    position: relative;
    z-index: 10;
    padding: 3px;
    min-height: 92px;
    width: 392px;
    background: linear-gradient(93.73deg, #FFF387 4%, #D7A82E 30%, #FFF387 45%, #F4C449 70%, #FFF387 100%);

    @media (max-width: 1600.8px) {
      min-height: 76px;
      width: 307px;
    }

    @include lg {
      min-height: 62px;
      width: 235px;
    }

    @media (max-width: 576.8px) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-800;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #0F101B;
    padding: 10px;
    min-height: 86px;
    width: 386px;

    background: linear-gradient(93.73deg, #FFC93D 0.41%, #CC9F2A 31.75%, #F5C64E 67.8%, #F0BC38 93.39%);

    @include xl {}

    @media (max-width: 1600.8px) {
      font-size: 24px;
      line-height: 29px;
      min-height: 70px;
      width: 301px;
    }

    @media (max-width: 1250.8px) {
      font-size: 20px;
      line-height: 29px;
    }

    @include lg {
      font-size: 18px;
      line-height: 22px;
      min-height: 56px;
      width: 229px;
    }

    @media (max-width: 576.8px) {
      width: 100%;

    }

    @include xs {
      font-size: 20px;
      line-height: 24px;
    }

  }
}