@use "../presets" as *;
@use "../mixins" as *;

.actions {
  @include lg-min {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: $gap;
    justify-items: center;
  }

  @include lg {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: 0;
  }

  @media (max-width: 585.8px) {}



  &__logo {
    max-width: 127px;
    margin-bottom: 60px;
    padding-top: 60px;

    @include ul {}

    @include lg {
      max-width: 84px;
      margin-bottom: 80px;
      padding-top: 40px;
    }

    @include md {
      margin-bottom: 20px;
    }
  }

  &__title {
    text-align: center;
    letter-spacing: 0.1em;

    color: $color-accent;
    text-shadow: 0 0 0 #fcc931;

    font-size: $font-size-40;
    font-weight: $font-weight-600;
    line-height: 48px;

    @include lg {
      margin-bottom: 20px;

      font-size: $font-size-20;
      line-height: 24px;
    }

    @include xs {
      margin-bottom: 10px;

      font-size: $font-size-15;
      line-height: 18px;
    }


    @media (max-width: 1600.8px) {
      padding-top: 10px;
    }

    @media (max-width: 1600.8px) {
      font-size: $font-size-32;
      line-height: 39px;
    }

    @media (max-width: 1350.8px) {
      font-size: $font-size-26;
    }
  }

  &__desc {
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $color-white;

    font-family: "Begika";
    font-size: $font-size-90;
    font-weight: $font-weight-400;
    font-style: normal;
    line-height: 100%;

    @include ul {
      margin-bottom: 20px;
    }

    @include lg {
      max-width: 440px;
      margin-bottom: 20px;
    }

    @include md {
      font-size: $font-size-38;
    }

    @include xs {
      max-width: 390px;
      margin-bottom: 10px;

      font-size: $font-size-33;
    }

    @media (max-width: 1350.8px) {
      font-size: $font-size-44;
    }

    @media (max-width: 1600.8px) {
      margin-bottom: 30px;

      font-size: $font-size-71;
    }

    // @media (max-width: 1250.8px) {
    //   font-size: $font-size-50;
    // }

    @media (max-width: 1100.8px) {
      font-size: $font-size-38;
    }
  }

  &__link-box {
    position: relative;
    z-index: 10;

    width: 392px;
    min-height: 92px;
    padding: 3px;

    background: linear-gradient(93.73deg, #fff387 4%, #d7a82e 30%, #fff387 45%, #f4c449 70%, #fff387 100%);

    @include lg {
      width: 235px;
      min-height: 62px;
    }

    @media (max-width: 1600.8px) {
      width: 307px;
      min-height: 76px;
    }

    @media (max-width: 585.2px) {
      width: 100%;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 386px;
    min-height: 86px;
    padding: 10px;

    cursor: pointer;
    transition: 0.2s linear;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #0f101b;
    border: none;
    background: linear-gradient(93.73deg, #ffc93d 0.41%, #cc9f2a 31.75%, #f5c64e 67.8%, #f0bc38 93.39%);

    font-size: $font-size-34;
    font-weight: $font-weight-800;
    line-height: 41px;

    @include xl {}

    @include lg {
      width: 229px;
      min-height: 56px;

      font-size: $font-size-18;
      line-height: 22px;
    }

    @include xs {
      font-size: $font-size-20;
      line-height: 24px;
    }

    &:hover {
      color: #5e4300;
    }

    @media (max-width: 1600.8px) {
      width: 301px;
      min-height: 70px;

      font-size: $font-size-24;
      line-height: 29px;
    }

    // @media (max-width: 1250.8px) {
    //   font-size: $font-size-20;
    //   line-height: 29px;
    // }

    @media (max-width: 585.2px) {
      width: 100%;
    }
  }
}