@use "../presets" as *;
@use "../mixins" as *;

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include xl-min {

    max-width: 780px;
  }



  &__logo {
    margin-bottom: 120px;
    padding-top: 60px;

    max-width: 127px;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #EBBC44;
    text-shadow: 0px 0px 0px #FCC931;
    margin-bottom: 40px;

    @include xl {
      font-size: 32px;
      line-height: 39px;

    }
  }

  &__desc {
    font-weight: 400;
    font-size: 90px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;

    @include xl {
      font-size: 71px;
    }
  }

  &__link-box {
    padding: 3px;
    min-height: 92px;
    width: 392px;
    background: linear-gradient(93.73deg, #FFF387 4%, #D7A82E 30%, #FFF387 45%, #F4C449 70%, #FFF387 100%);

    @include xl {
      min-height: 76px;
      width: 307px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #0F101B;
    padding: 10px;
    min-height: 86px;
    width: 386px;

    background: linear-gradient(93.73deg, #FFC93D 0.41%, #CC9F2A 31.75%, #F5C64E 67.8%, #F0BC38 93.39%);

    @include xl {
      font-size: 24px;
      line-height: 29px;
      min-height: 70px;
      width: 301px;
    }
  }
}