@use "../presets" as *;
@use "../mixins" as *;

.decor {
  &__left {
    position: absolute;
    left: 0;
    z-index: 2;

    @include xl {
      max-width: 371px;
    }

    @include lg {
      max-width: 155px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
    z-index: 2;

    @include xl {
      max-width: 266px;
    }

    @include lg {
      max-width: 120px;
    }

  }

}