@font-face {
  font-family: "TT Norms";
  font-weight: bold;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/TTNorms-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "TT Norms";
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/TTNorms-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "TT Norms";
  font-weight: normal;
  font-style: normal;

  font-display: swap;
  src: url("../fonts/TTNorms-Regular.woff2") format("woff2");
}
