@use "../presets" as *;
@use "../mixins" as *;


.layout {
  &__main {
    width: min(100% - 80px, 1640px);

    @include md {
      width: min(100% - 40px, 1640px);
    }

    @include xx {
      width: min(100% - 20px, 1640px);
    }

    margin-inline: auto;

    &--alt {
      margin-top: -100px;

      @media (max-width: 1500.8px) {
        margin-top: -150px;
      }

      @include xl {
        margin-top: -140px;
      }

      @media (max-width: 1380.8px) {
        margin-top: -40px;
      }

      @media (max-width: 576.8px) {
        margin-top: 0;
      }

      @media (min-height: 1000.9px) {
        margin-top: -150px;

      }

      @media (min-height: 1100.9px) {
        margin-top: -250px;

      }

      @media (max-height: 750.8px) {
        margin-top: -50px;



      }

    }
  }
}